/GameResponse.class
/ResponseAuth.class
/ResponseChat.class
/ResponseFloat.class
/ResponseHeartbeat.class
/ResponseInt.class
/ResponsePosition.class
/ResponseRegister.class
/ResponseSaveexit.class
/ResponseSelectchar.class
/ResponseShort.class
/ResponseString.class
