/GameRequest.class
/RequestAuth.class
/RequestChat.class
/RequestFloat.class
/RequestHeartbeat.class
/RequestInt.class
/RequestPosition.class
/RequestRegister.class
/RequestSaveexit.class
/RequestSelectchar.class
/RequestShort.class
/RequestString.class
